.container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 30rem;
    padding: 0rem 10rem; }
    .container .submit-btn {
      margin-top: 4rem; }
    .container input {
      width: 20rem;
      height: 2rem;
      background-color: var(--color-blue);
      border: 1px solid #0652b9;
      border-color: #0652b9;
      border-radius: 2.5rem;
      display: block;
      color: #161616;
      text-indent: 15px; }
    .container input:focus {
      outline: 0;
      border-color: #ff8b2c; }
    .container textarea {
      width: 20rem;
      height: 10rem;
      background-color: var(--color-blue);
      border: 1px solid #0652b9;
      border-color: #0652b9;
      border-radius: 1.5rem;
      color: #161616;
      text-indent: 15px; }
    .container textarea:focus {
      outline: 0;
      border-color: #ff8b2c; }
    .container ::placeholder {
      color: #161616;
      opacity: 0.5; }
    .container .form-control {
      position: relative; }
    .container .form-control.success input {
      border-color: green; }
    .container .form-control.error input {
      border-color: red; }
    .container .form-control small {
      color: red;
      bottom: 0;
      left: 0;
      visibility: hidden; }
    .container .form-control.error small {
      visibility: visible; }

      button {
        width: 7rem;
        height: 3rem;
        background: #0652b9;
        border-style: none;
        border-radius: 2.5rem;
        color: #ffffff; }